<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.tuiguang.repository.RoleRepository">
    <resultMap id="BaseResultMap" type="com.edu.tuiguang.entity.Role">
        <id column="role_id" jdbcType="INTEGER" property="roleId"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
        <result column="permissions" jdbcType="VARCHAR" property="permissions"/>
        <result column="create_user_id" jdbcType="INTEGER" property="createUserId"/>
        <result column="update_user_id" jdbcType="INTEGER" property="updateUserId"/>
        <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
        <result column="update_user_name" jdbcType="VARCHAR" property="updateUserName"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <select id="findAll" resultMap="BaseResultMap">
        select role_id, role_name from `role`
    </select>
    <select id="findList" resultMap="BaseResultMap">
        select
            `role`.role_id,
            `role`.role_name,
            `role`.permissions,
            `role`.create_time,
            `role`.update_time,
            createUser.user_id as create_user_id,
            createUser.user_name as create_user_name,
            updateUser.user_id as update_user_id,
            updateUser.user_name as update_user_name
        from
          `role`
          left join `user` createUser on `role`.create_user_id = createUser.user_id
          left join `user` updateUser on `role`.update_user_id = updateUser.user_id
          <if test="roleName != null">
            where `role`.role_name like '%' #{roleName} '%'
          </if>
        order by `role`.create_time desc
        limit #{pageStart}, #{pageSize}
    </select>
    <select id="findById" resultMap="BaseResultMap">
        select * from `role`
        where role_id = #{roleId}
    </select>
    <select id="total" resultType="java.lang.Long">
        select count(*) from `role`
        <if test="roleName != null">
            where `role`.role_name like '%' #{roleName} '%'
        </if>
    </select>
    <insert id="insert" parameterType="com.edu.tuiguang.entity.Role">
        insert into `role` (role_name, permissions,create_user_id, create_time)
        values (#{roleName}, #{permissions}, #{createUserId}, #{createTime})
    </insert>
    <update id="update" parameterType="com.edu.tuiguang.entity.Role">
        update `role`
        <set>
            <if test="roleName != null">
                role_name = #{roleName},
            </if>
            <if test="permissions != null">
                permissions = #{permissions},
            </if>
            update_user_id = #{updateUserId},
            update_time = #{updateTime}
        </set>
        where role_id = #{roleId}
    </update>
    <delete id="del" parameterType="java.lang.Integer">
        delete from `role` where role_id = #{roleId}
    </delete>
</mapper>