<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.tuiguang.repository.UserRepository">
    <resultMap id="BaseResultMap" type="com.edu.tuiguang.entity.User">
        <id column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="role_id" jdbcType="INTEGER" property="roleId"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
        <result column="permissions" jdbcType="VARCHAR" property="permissions"/>
        <result column="create_user_id" jdbcType="INTEGER" property="createUserId"/>
        <result column="update_user_id" jdbcType="INTEGER" property="updateUserId"/>
        <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
        <result column="update_user_name" jdbcType="VARCHAR" property="updateUserName"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="BaseColumns">
        user_id,
        user_name,
        avatar,
        mobile,
        role_id,
        create_user_id,
        update_user_id,
        create_time,
        update_time
    </sql>
    <select id="findAll" resultMap="BaseResultMap">
        select <include refid="BaseColumns" /> from `user`
    </select>
    <select id="findList" resultMap="BaseResultMap">
        select
          `user`.user_id,
          `user`.user_name,
          `user`.mobile,
          `user`.create_time,
          `user`.update_time,
          r.role_id,
          r.role_name,
          createUser.user_id as create_user_id,
          createUser.user_name as create_user_name,
          updateUser.user_id as update_user_id,
          updateUser.user_name as update_user_name
        from
          `user`
          left join `role` r on `user`.role_id = r.role_id
          left join `user` createUser on `user`.create_user_id = createUser.user_id
          left join `user` updateUser on `user`.update_user_id = updateUser.user_id
          <if test="userName != null">
          where `user`.user_name like '%' #{userName} '%'
          </if>
        order by `user`.create_time desc
        limit #{pageStart}, #{pageSize}
    </select>
    <select id="findById" resultMap="BaseResultMap">
        select
          u.user_id,
          u.user_name,
          u.avatar,
          u.mobile,
          u.create_user_id,
          u.update_user_id,
          u.create_time,
          u.update_time,
          r.role_id,
          r.role_name,
          r.permissions
        from
          `user` u
          left join `role` r on u.role_id = r.role_id
        where
          u.user_id = #{userId}
    </select>
    <select id="total" resultType="java.lang.Long">
        select count(*) from `user`
        <if test="userName != null">
            where `user`.user_name like '%' #{userName} '%'
        </if>
    </select>
    <select id="findByNameAndPassword" resultMap="BaseResultMap">
        select * from `user` where user_name = #{userName} and password = #{password}
    </select>
    <insert id="insert" parameterType="com.edu.tuiguang.entity.User">
        insert into `user` (
          user_name,
          password,
          avatar,
          mobile,
          role_id,
          create_user_id,
          create_time
        )
        values (
          #{userName},
          #{password},
          #{avatar},
          #{mobile},
          #{roleId},
          #{createUserId},
          #{createTime}
        )
    </insert>
    <update id="update" parameterType="com.edu.tuiguang.entity.User">
        update `user`
        <set>
            <if test="userName != null">
                user_name = #{userName},
            </if>
            <if test="avatar != null">
                avatar = #{avatar},
            </if>
            <if test="mobile != null">
                mobile = #{mobile},
            </if>
            <if test="roleId != null">
                role_id = #{roleId},
            </if>
            update_user_id = #{updateUserId},
            update_time = #{updateTime}
        </set>
        where user_id = #{userId}
    </update>
    <delete id="del" parameterType="java.lang.Integer">
        delete from `user` where user_id = #{userId}
    </delete>
</mapper>